.spinner {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

body {
  height: 100vh;
}

.cl-jumbo {
  background-color: #ffffff;
}

.red {
  padding-top: 10px;
  color: #f00606;
}

.green {
  padding-top: 10px;
  color: #11d811;
}

.footer {
  position: absolute;

  width: 100%;
}

.coin-card {
  border: none;
}
.coin-list {
  border: none;
}
